<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Please enter the coordinates of the place you want to visit</h1>
    <input id="latitude" type="number" placeholder="latitude">
    <input id="longitude" type="number" placeholder="longitude">
    <input id="date" type="date">
    <input id="button" type="button" value="enter">
    <img id="photo" alt="photo of the country"></img>
    <h3 id="title-name"></h3>
    <h3 id="name"></h3>
    <h3 id="title-country"></h3>
    <h3 id="country"></h3>
    <h3 id="title-distance"></h3>
    <h3 id="distance"></h3>
    <h3 id="title-temperature"></h3>
    <h3 id="temperature"></h3>
    <h3 id="title-wind"></h3>
    <h3 id="wind"></h3>
    <h3 id="title-precipitation"></h3>
    <h3 id="precipitation"></h3>
    <h3 id="title-snow"></h3>
    <h3 id="snow"></h3>
    <h3 id="title-travel-duration"></h3>
    <h3 id="travel-duration"></h3>
</body>

</html>